.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-style: normal;
  transition: ease-in;
}
.App-header  :hover{
  background-color: rgb(75, 75, 214);
  color: bisque;
}

.App-link {
  color: #61dafb;
  font-weight: 500;
  border: 2px black underline;
  font-size: medium;
  box-shadow: #282c34;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #252222; 
}
.navbar-item {
  padding: 15px 20px; 
  font-family: 'Arial', sans-serif; 
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .navbar-item:hover {
    background-color: rgb(75, 75, 214); 
    color: bisque; 
    font-weight: 600;
    font-size: medium;
    opacity: 0.5px;
  }

  .navbar-item.active {
    font-weight: bold; 
    color: #81e0fa; 
  }
  
@media (max-width: 768px) {
    .navbar {
      flex-direction: column; 
    }
  }